@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap");
body {
    font-family: "Mulish", sans-serif;
    font-display: optional;
    background-color: var(--bg);
    margin: 10px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 :root {
    /* --bg: #070707; */
    --bg: #c4b0b0;
}

.login {
    /* background-image: url("https://i.ibb.co/qFwTTyM/Bitmap.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 980px;
    height: calc(100% - 20px);
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    padding: 25px;
    border-radius: 15px;
}

.login .left {
    width: 400px;
    padding: 55px;
    background-color: rgba(8, 8, 8, 0.85);
    flex-direction: column;
    display: flex;
    border-radius: 10px;
}

.login .left h3 {
    margin-top: 20px;
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
    font-size: 22px;
}

.login .left .btn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #ffffff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
}


/* .btn-login .google {
    background-color: #ffffff;
}

.btn-login .facebook {
    background-color: #4285f4;
} */

.login .left .btn-login i {
    font-size: 20px;
    /* margin-right: 15px; */
}

.login .left .diveder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%;
    /* margin-bottom: 36px; */
    margin-top: 23px;
}

.login .left .diveder hr {
    width: 100%;
    border: none;
    height: 0.5px;
    background-color: #979797;
}

.login .left .diveder span {
    text-transform: uppercase;
    font-weight: 600;
    margin: 0px 16px;
}

.login .left .login-form label {
    display: flex;
    flex-direction: column;
}

.login .left .login-form label span {
    color: white;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.login .left .login-form label input {
    background-color: transparent;
    border: none;
    color: white;
}

.login .left .login-form label .input {
    padding: 10px 0px 10px 20px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.login .left .login-form label .input #btn_eye {
    border: none;
    background: transparent;
    color: #a9a9a9;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
}

.login .left .login-form label .input #btn_eye:focus,
input:focus {
    outline: none;
}

.login .left .continue {
    width: 100%;
    padding: 19px 0px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 23px;
    font-weight: bold;
    cursor: pointer;
}

.login .left .left-footer {
    /* margin-top: 23px; */
    color: white;
}

.login .left .left-footer a {
    color: #4285f4;
}

.login .left .left-footer a,
span {
    font-size: 11.5px;
}

.login .right {
    width: 400px;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* -webkit-text-stroke: 0.5px black; */
}

.login .right .text {
    justify-content: flex-end;
    position: relative;
    padding: 55px;
}

.login .right h5 {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 26px;
}

.login .right p {
    font-weight: 600;
    font-size: 16px;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}